
<div class="page" data-page="home">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="center">TMDb for framework 7</div>
			<div class="right"><a href="#" class="link icon-only" id="loop"><i class="material-icons">autorenew</i></a></div>
		</div>
	</div>
	<form class="searchbar searchbar-init" id="search">
		<div class="searchbar-input">
			<input type="search" placeholder="Search..." id="query"/><a href="#" class="searchbar-clear"></a>
		</div>
	</form>
	<div class="page-content infinite-scroll" data-distance="19">
		<div id="movieList"></div>
	</div>
</div>
